<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test list</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>
    {% if avail_list %}
        {% for room in avail_list %}
        <h3>{{ room }}</h3>
        {% endfor %}
    {% endif%}
</body>
</html>